@use "sass:map";

$list: (
    base: #000000,
    base-light: white,
    base-dark: black,
    primary: #ed2201,
    primary-light: #61d3ff,
    primary-dark: #2a4d64,
    alt: #0c3786,
    callout: #00898f,
    callout-dark: #52b1ae,
    placeholder: #444
);

@function get($name) {
    @return map.get($list, $name);
}
